* {
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: "Arial";
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 70px;
  padding: 0 20px;
  border-bottom: 0.5px solid;
}

.left {
  display: flex;
  gap: 20px;
  align-items: center;
  height: 100%;
}
.left button {
  position: relative;
  width: 25px;
  height: 25px;
  background-color: transparent;
  font-size: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.5px solid transparent;
  border-radius: 0;
  transition: border 0.5s ease-in-out;
}
.left button:hover {
  border: 0.5px solid rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.left button:hover::after {
  content: "Criar novo template";
  position: absolute;
  top: 115%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(51, 51, 51);
  color: #fff;
  padding: 4px 8px;
  font-size: 12px;
  white-space: nowrap;
  border-radius: 4px;
  opacity: 0;
  pointer-events: none;
  animation: fadeIn 0.3s forwards;
  z-index: 20;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
.btn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 280px;
}

#view, #edit {
  height: 35px;
  border-radius: 10px;
  border: 0.1px solid rgba(0, 0, 0, 0.5);
  background-color: transparent;
}
#view span, #edit span {
  font-size: 20px;
  width: 30px;
}

.selected {
  background-color: rgb(0, 140, 210) !important;
  color: white;
}

#pag {
  display: flex;
  position: absolute;
  justify-content: center;
  width: 100vw;
  min-height: calc(100vh - 70px);
  height: -moz-fit-content;
  height: fit-content;
  background-color: rgb(233, 233, 233);
  z-index: 2;
}

#editorjs {
  background-color: white;
  width: 47%;
  padding: 15px 0;
  margin: 1em 0;
}

#save, #import {
  background-color: rgb(0, 140, 210);
  color: white;
  border: none;
  border-radius: 10px;
  text-transform: uppercase;
  padding: 0.8em;
}
#save:hover, #import:hover {
  cursor: pointer;
}

#save:hover, #import:hover {
  cursor: pointer;
}

.btnclose {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 100%;
  margin-top: auto;
}

.btnActions {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 100%;
  margin-top: auto;
  gap: 7px;
}
.btnActions button {
  background-color: rgb(0, 140, 210);
  color: white;
  border: none;
  border-radius: 10px;
  text-transform: uppercase;
  padding: 0.8em;
}
.btnActions button:hover {
  cursor: pointer;
}
.btnActions button:last-child {
  background-color: rgb(200, 0, 0);
}

#close {
  background-color: rgb(200, 0, 0);
  color: white;
  border: none;
  border-radius: 10px;
  text-transform: uppercase;
  padding: 0.8em;
}
#close:hover {
  cursor: pointer;
}

#template {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 3;
}

#templateSelect {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.versao {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
}
.versao span {
  position: absolute;
  right: 14px;
  transition: 0.6s;
}
.versao span:hover {
  cursor: pointer;
}
.versao .rotate {
  transform: rotate(180deg);
}

.drop-down {
  position: relative;
  display: inline-block;
}

.drop-down-content {
  flex-direction: column;
  position: absolute;
  background-color: white;
  border-radius: 10px;
  border: 0.5px solid rgba(0, 0, 0, 0.5);
  width: 170px;
  top: 13px;
  right: -55px;
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  z-index: 4;
  transition: max-height 1s, visibility 0.4s, opacity 0.5s;
}
.drop-down-content button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
  width: 100%;
  height: 0;
  opacity: 0;
  border: none;
  border-bottom: 0.5px solid;
  transition: 0.25s;
  background-color: transparent;
}
.drop-down-content button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.drop-down-content button span {
  position: static;
  width: 70%;
  height: -moz-max-content;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
}
.drop-down-content button:last-child {
  border: none;
}
.drop-down-content button i {
  transition: 1s;
  border-radius: 2px;
}
.drop-down-content button i:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.view-menu {
  visibility: visible;
  opacity: 1;
  min-height: 100px;
  max-height: 150px;
}
.view-menu button {
  height: 25px !important;
  opacity: 1 !important;
}

.modal-content {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  width: 400px;
  min-height: 350px;
  height: auto;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
}
.modal-content h3 {
  margin: 7px 0;
}

.emptyTemplateList {
  display: flex;
  justify-content: center;
  align-items: center;
}

#templateList, #templateSelectList {
  border-top: 1px solid;
  width: calc(100% + 20px);
  margin: 0 -10px;
  flex-grow: 1;
}

#templateSelectList .template-item {
  cursor: pointer;
  transition: 0.2s;
}

.template-item {
  width: 100%;
  margin-top: 7px;
  margin-bottom: 7px;
  padding-bottom: 7px;
}
.template-item:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.btnImport {
  display: flex;
  justify-content: center;
  justify-content: center;
  gap: 8px;
}
.btnImport button {
  background-color: rgb(0, 140, 210);
  color: white;
  border: none;
  border-radius: 10px;
  text-transform: uppercase;
  padding: 0.8em;
}
.btnImport button:hover {
  cursor: pointer;
}
.btnImport button:last-child {
  background-color: rgb(200, 0, 0);
  color: white;
  border: none;
  border-radius: 10px;
  text-transform: uppercase;
  padding: 0.8em;
}
.btnImport button:last-child:hover {
  cursor: pointer;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 3px 0 6px 0;
}
.button-container button {
  background-color: rgb(0, 140, 210);
  color: white;
  border: none;
  border-radius: 10px;
  text-transform: uppercase;
  padding: 0.8em;
}
.button-container button:hover {
  cursor: pointer;
}
.button-container button:last-child {
  background-color: rgb(200, 0, 0);
  color: white;
  border: none;
  border-radius: 10px;
  text-transform: uppercase;
  padding: 0.8em;
}
.button-container button:last-child:hover {
  cursor: pointer;
}

.button-container button:hover {
  cursor: pointer;
}

#jsonview {
  display: flex;
  position: absolute;
  background-color: white;
  width: 100vw;
  height: calc(100vh - 70px);
  justify-content: left;
  padding: 20px;
  z-index: 1;
}

.temp-selected {
  background-color: rgb(220, 220, 230);
}

.ce-editorjsColumns_col {
  outline: 2px solid rgba(0, 0, 0, 0.15);
  outline-offset: 2.5px;
  transition: 0.3s;
}
.ce-editorjsColumns_col:hover {
  outline: 2px solid rgb(0, 140, 210);
}

.ce-block__content {
  outline: 2px solid transparent;
  outline-offset: 2.5px;
  transition: 0.3s;
}
.ce-block__content:hover {
  outline: 2px solid rgb(0, 140, 210);
}
.ce-block__content:has(.ce-editorjsColumns_wrapper) {
  border: none !important;
}
.ce-block__content:has(.ce-editorjsColumns_wrapper):hover {
  border: none !important;
}

.ce-popover-item:hover {
  background-color: #eee !important;
}
.ce-popover-item:hover[data-item-name=delete]:hover {
  background-color: #CE4343 !important;
  color: white;
}/*# sourceMappingURL=main.css.map */